# Plantilla de variables de entorno
# Copia este archivo como .env y completa con tus datos

# Base de datos
DB_HOST=localhost
DB_USER=mysql
DB_PASS=
DB_NAME=


# Entorno (local o production)
ENVIRONMENT=local
